.center {
    margin: auto;
    
    display: block;

    border: 3px solid aqua;
    height: 400px;
    width: 500px;
    position: relative;
}
.child,
.child5{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor :pointer;
}
.child4 {
    margin: 0px 1px 0px -80px;
    padding: 20px 25px;
}
.child6 {
    margin: 0px -1px 0px 80px;
    padding: 20px 25px;
}
.child2 {
    margin: -70px -1px 0px 0px;
    padding: 20px 25px;
}
.child8 {
    margin: 70px -1px 0px 0px;
    padding: 20px 25px;
}
.child5{
    padding: 20px 25px;
}
.child1 {
    margin: -70px -1px 0px -80px;
    padding: 20px 25px;
}
.child3 {
    margin: -70px -1px 0px 80px;
    padding: 20px 25px;
}
.child7 {
    margin: 70px -1px 0px -80px;
    padding: 20px 25px;
}
.child9 {
    margin: 70px -1px 0px 80px;
    padding: 20px 25px;
}
.text{                .center {
    margin: auto;
    
    display: block;

    border: 3px solid aqua;
    height: 400px;
    width: 500px;
    position: relative;
}
.child,
.child5{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor :pointer;
}
.child4 {
    margin: 0px 1px 0px -80px;
    padding: 20px 25px;
}
.child6 {
    margin: 0px -1px 0px 80px;
    padding: 20px 25px;
}
.child2 {
    margin: -70px -1px 0px 0px;
    padding: 20px 25px;
}
.child8 {
    margin: 70px -1px 0px 0px;
    padding: 20px 25px;
}
.child5{
    padding: 20px 25px;
}
.child1 {
    margin: -70px -1px 0px -80px;
    padding: 20px 25px;
}
.child3 {
    margin: -70px -1px 0px 80px;
    padding: 20px 25px;
}
.child7 {
    margin: 70px -1px 0px -80px;
    padding: 20px 25px;
}
.child9 {
    margin: 70px -1px 0px 80px;
    padding: 20px 25px;
}
.text{                
    display: block;
    height: 50px;
    width: 200px;
    border: 3px solid red;
    position: absolute;
    margin: 310px 0px 0px 150px;
}
.mid{
    text-align: center;
    margin: 15px 0px 0px 0px;
}
    display: block;
    height: 50px;
    width: 200px;
    border: 3px solid red;
    position: absolute;
    margin: 310px 0px 0px 150px;
}
.mid{
    text-align: center;
    margin: 15px 0px 0px 0px;
}
.start, 
.refresh{
    cursor: pointer;
}